
.container-top-page{
  background-image: url(./../img/bg_home.jpg);
  background-size: cover;
   height:fit-content;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 120px;
   padding-bottom: 50px;
}

@media (min-width: 550px) {
  .container-top-page {
      padding-left: 100px;
    }
}

#container-blog-cards{
  margin: 10px;
  border-radius: 5px;
  border:1px groove;
  background-color: rgba(238, 238, 238, 0.597);
}

.card{
  width: 20%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  background-color:#eeee;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale3d(1.006, 1.006, 1);
}

.article-title{
  color:#c2102a;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 10px;
}
.article-paragraph{
  color:black;
  font-weight: 300;
  margin: 10px;
}
