
.container-top-page{
  background-image: url(./../img/bg_home.jpg);
  background-size: cover;
   height:fit-content;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 120px;
   padding-bottom: 50px;
}

@media (min-width: 550px) {
  .container-top-page {
      padding-left: 100px;
    }
}

.container > .row{
  padding-top: 20px;
  padding-bottom: 20px;
}