#first-container{
  padding-left: 0;
}

@media (min-width: 550px) {
    #first-container {
      padding-left: 100px;
    }
}

@media (min-width: 1200px) {
  .app-row {
    padding-left: 35px;
    padding-right: 35px;
  }
}

/* buttons custom style - start */

.button-orange-to-red{
  color:black;
  background-color: #ff5353;
  border-color: #ff5353;
}

.button-orange-to-red:hover{
  color:white;
  background-color: #c2102a;
  border-color: #c2102a;
}
.button-red-card{
  position:absolute;
  bottom:5px;
  left:5px;
  color:black;
  background-color: #c2102a;
  border-color: #c2102a;
}

.button-red-card:hover{
  color:white;
  background-color: #ff5353;
  border-color: #ff5353;
}

.button-white-to-black{
  background-color:white;
  border-color: black;
  color: black;
}

.button-white-to-black:hover{
  background-color: black;
  color: white;
}

.button-white-card{
  position: absolute;
  left:75px;
  bottom: 5px;
  background-color:white;
  border-color: black;
  color: black;
}
.button-white-card:hover{
  background-color: black;
  color: white;
}

.button-black-to-white{
  background-color: black;
  border-color: black;
  color: white;
}

.button-black-to-white:hover{
  background-color:white;
  border-color: black;
  color: black;
}


/* buttons custom style - end */
.front-card-title{
  width: 100%;
  color:white;
  padding-top: 80px;
}

.back-card-title{
  color: #c50e29;
  position: absolute;
  margin-left: 10px;
  margin-top:10px;
}

/* client flips - start*/

#client-flip-card {
  background-color: transparent;
  width: 250px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
#client-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#client-flip-card:hover #client-flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
#client-flip-card-front, #client-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
#client-flip-card-front {
  background-color: #eeee;
  color: black;
}

/* Style the back side */
#client-flip-card-back {
  background-color: #424242;
  color: white;
  transform: rotateY(180deg);
}

/*client flips - end*/
